body {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Segoe UI;
  height: 100vh;
  flex-direction: column;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.welcomeBox {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 45%;
  z-index: 2;
}
.welcomeBox__loginBox {
  text-align: center;
  background-color: #2C2F33;
  min-height: 500px;
  width: 75%;
}
.welcomeBox__loginBox--title {
  font-size: 55px;
  font-weight: 200;
  color: white;
  cursor: pointer;
}
.welcomeBox__loginBox--text {
  color: #dbdbdb;
  margin-top: -17px;
}
.welcomeBox__loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.welcomeBox__loginForm input {
  background-color: rgba(255, 0, 0, 0);
  border: unset;
  border-bottom: 1px solid rgba(255, 255, 255, 0.377);
  margin-top: 15px;
  color: #d8d8d8;
  padding: 5px;
}
.welcomeBox__loginForm input::placeholder {
  text-align: center;
}
.welcomeBox__loginForm input:focus::placeholder {
  color: transparent;
}
.welcomeBox__loginForm button {
  cursor: pointer;
  margin-top: 15px;
  width: 30%;
  border: unset;
  background-color: gray;
  padding: 5px;
  color: #dddddd;
}
.welcomeBox__loginForm--text {
  color: #cccccc;
}

.myBackgroundColor {
  display: block;
  height: 330px;
  width: 100%;
  background-color: #33486d;
  margin-top: -350px;
  position: absolute;
}

.whateverBox__footer {
  margin-top: 5px;
  color: #868686;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}
.whateverBox__footer p {
  margin-bottom: 0px;
  margin-top: 0px;
}
.whateverBox__footer p:nth-child(2) {
  font-weight: 600;
}

.whateverInterface {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-height: 500px;
  background-color: #4b4d4a;
}
.whateverInterface__navigation {
  width: 100%;
  display: flex;
  height: 50px;
  background-color: #444542;
}
.whateverInterface__navigation--logo {
  color: #dadada;
  font-weight: 200;
  margin-left: 15px;
}
.whateverInterface__navigation--user {
  color: #dadada;
  margin-left: 60%;
}
.whateverInterface__navigation p {
  width: 100%;
}
.whateverInterface__leftPanel {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.whateverInterface__leftPanel--text {
  color: #dadada;
  font-weight: 200;
  margin-left: 15px;
}
.whateverInterface__leftPanel--person {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
}
.whateverInterface__leftPanel--img {
  width: 30px;
  height: 30px;
  margin-top: 3px;
}
.whateverInterface__leftPanel--user {
  color: #dadada;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 1px;
}
.whateverInterface__leftPanel--recentMessage {
  color: #858585;
  font-size: 13px;
  margin-left: -62px;
  margin-top: 18px;
}
.whateverInterface__chatBox {
  display: flex;
  width: 70%;
}
.whateverInterface__chatBox--inputMessage {
  height: 30px;
  width: 90%;
  margin-top: 385px;
  background-color: unset;
  border: unset;
  border-bottom: 1px solid #858585;
  resize: none;
  color: #dadada;
}
.whateverInterface__footer {
  display: flex;
  width: 100%;
  height: 35px;
  background-color: #444542;
  color: #dadada;
  justify-content: center;
  font-size: 13px;
  align-items: center;
}
.whateverInterface__content {
  display: flex;
  flex: 50%;
}

/*# sourceMappingURL=style.css.map */
