$ui-color: #dadada;
$ui-color_dark: #858585;

body{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI;
    height: 100vh;
    flex-direction: column;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.welcomeBox{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 45%;
    z-index: 2;
    &__loginBox{
        text-align: center;
        background-color: #2C2F33;
        min-height: 500px;
        width: 75%;
    }
    &__loginBox--title{
        font-size: 55px;
        font-weight: 200;
        color: white;
        cursor:pointer;
    }
    &__loginBox--text{
        color: rgb(219, 219, 219);
        margin-top: -17px;
    }
    &__loginForm{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        input{
            background-color: rgba(255, 0, 0, 0);
            border: unset;
            border-bottom: 1px solid rgba(255, 255, 255, 0.377);
            margin-top: 15px;
            color: rgb(216, 216, 216);
            padding: 5px;
        }
        input::placeholder{
            text-align: center;
        }
        input:focus::placeholder{
            color:transparent;
       }
       button{
           cursor:pointer;
           margin-top: 15px;
           width: 30%;
           border: unset;
           background-color: rgb(128, 128, 128);
           padding: 5px;
           color: rgb(221, 221, 221);
       }
    }
    &__loginForm--text{
        color: rgb(204, 204, 204);
    }
}

.myBackgroundColor{
    display: block;
    height: 330px;
    width: 100%;
    background-color: rgb(51, 72, 109);
    margin-top: -350px;
    position: absolute;
}

.whateverBox__footer{
    margin-top: 5px;
    color: rgb(134, 134, 134);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:35%;
    p{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    p:nth-child(2){
        font-weight: 600;
    }
}
.whateverInterface {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 500px;
    background-color: #4b4d4a;

    &__navigation{
        width:100%;
        display: flex;
        height: 50px;
        background-color: #444542;
        &--logo{
            color: $ui-color;
            font-weight:200;
            margin-left: 15px;
        }
        &--user{
            color: $ui-color;
            margin-left: 60%;
        }
        p{
            width:100%;
        }
    }
    &__leftPanel{
        width: 30%;
        display:flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        &--text{
            color: $ui-color;
            font-weight: 200;
            margin-left: 15px;
        }
        &--person{
            display: flex;
            margin-left: 15px;
            margin-top: 15px;
        }
        &--img{
            width: 30px;
            height: 30px;
            margin-top: 3px;
        }
        &--user{
            color: $ui-color;
            font-size: 13px;
            margin-left: 10px;
            margin-top: 1px;
        }
        &--recentMessage{
            color: $ui-color_dark;
            font-size: 13px;
            margin-left: -62px;
            margin-top: 18px;
        }
    }

    &__chatBox{
        display: flex;
        width: 70%;
        &--inputMessage{
            height:30px;
            width:90%;
            margin-top: 385px;
            background-color: unset;
            border: unset;
            border-bottom: 1px solid $ui-color_dark;
            resize: none;
            color: $ui-color;

        }
    }

    &__footer{
        display:flex;
        width: 100%;
        height:35px;
        background-color: #444542;
        color: $ui-color;
        justify-content: center;
        font-size: 13px;
        align-items: center;
    }
    &__content{
        display: flex;
        flex: 50%;
    }
}